.login-modal-bg{
    height: 70vh;
    display: flex;
    justify-content: center ;
    /* font-family: 'Poppins', sans-serif; */
}

.login-modal{
    height: max-content;
    min-height: 390px;
    width: 350px;
    max-width: 95%;
    background-color:  var(--white-100);
    border-radius: 3px;
    padding-bottom: 1rem;
}

.login-head{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding: 1.5rem 2rem;
    background-color: var(--gray-800);
    color: var(--yellow-500);
}

.login-fields{
    padding: 1.5rem 2rem 0;
}

.login-fields input{
    padding: .7rem 1rem;
    width: 100%;
    outline: none;
    border: 1.5px solid var(--gray-300);
    transition: border .3s ease;
    margin-bottom: 1rem ;
}

.login-fields input:focus{
    border: 1.5px solid var(--yellow-600);
}

.action-button{
    padding: 0 2rem;
}

.action-button .btn-yellow{
    margin: 1rem 0 .7rem;
    width: 100%;
    color: var(--gray-900);
    background-color: var(--yellow-500);
    font-weight: 500;
    border-radius: 2px;
}

.sub-text{
    margin: .5rem 0 1rem;
    text-align: center;
    font-size: .8rem;
    color: var(--gray-800);
}

.sub-text span{
    font-weight: 500;
}

.alert.error{
    background-color :#FDE4E4;
    color : red;
    border-radius: 2px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.5rem 2rem 0; 
    width: initial;
}

.alert svg{
    width: 20px;
    height: 20px;
}