.product-desc{
    height: max-content;
    background-color: var(--white-100);
    margin-bottom: 2rem;
}

.product-desc .container{
    display: flex;
    background-color: var(--white-100);
    height: max-content;
}

@media screen and (max-width : 768px){
    .product-desc .container{
        flex-direction: column;
        height: 100%;
    }
}