.product-page{
    display: flex;
    margin-top: 1rem;
}

.product-container{
    flex : 1 1 0;
}

.head{
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media screen and (max-width : 1000px){
    .head{
        padding: 0 0 1rem;
    }
}

@media screen and (max-width : 426px){
    .head{
        border-bottom: 0;
        margin-bottom: 0;
    }
}