.snack-bar{
    position: fixed;
    bottom: 20px;
    left : 50vw;
    transform: translate(-50%,140%);
    background-color: var(--gray-900);
    width: max-content;
    padding: 1rem;
    color : var(--white-100);
    border-radius: 2px;
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
    z-index: 5;
}

.snack-bar.active{
    transform: translate(-50%,0%);
}

.snack-bar svg{
    width: 18px;
    height: 18px;
    background-color: rgb(0, 204, 0);
    padding: .2rem;
    border-radius: 50%;
    margin-right: 10px;
    fill : var(--gray-900)
}

.snack-bar .cross{
    stroke: var(--white-100);
    background-color: transparent;
    margin-left: 10px;
    margin-right: 0;
    cursor: pointer;
}

