.cards{
    padding: 1rem 0;
    position: relative;
    cursor: pointer;
    background-color: var(--white-100);
    font-family: 'Poppins', sans-serif;
}

.cards-img{
    overflow: hidden;
    text-align: center;
    align-content: center; 
    height: 250px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--off-white);
}

.cards-img img{
    object-fit: cover;
    object-position: center;
    width: auto;
    height: 90%;
    transition: all .7s ease-in-out;
}

.brand{
    padding: .5rem 0 0 .5rem;
    font-size: .9rem;
    font-weight: 500;
    text-transform: capitalize;
}

.cards .wishlist-ico{
    cursor: pointer;
    position: absolute;
    top:20px;
    right: 5px;
    border: 0;
    outline: none;
    width: 30px;
    height: 30px;
    padding: .5rem;
    background-color: var(--white-100);
    border-radius:50% ;
}

.wishlist-ico svg{
    fill : red;
    transition: all .3s ease;
}

.wishlist-ico:hover> svg{
    transform: scale(1.2);
}

.item-name{
    padding: .3rem 0 0 .5rem;
    font-size: .8rem;
    font-weight: 400;
}

.item-price{
    padding: .5rem 0 0 .5rem;
    font-size: .9rem;
    font-weight: 500;
}


@media screen and (max-width : 426px){
    .cards{
        padding: 0 0 1rem;
    }

    .cards-img{
        height: 166px;
    }

    .cards .wishlist-ico{
        top:5px;
    }
}