.cart-page{
    display: flex;
    max-width: 980px;
    margin: 0 auto 2rem;
}

.cart-container{
    flex : 0 0 70%;
}

@media screen and (max-width:768px){
    .cart-page{
        flex-direction: column;
    }
}
